* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header and hero*/

li {
    list-style: none;
} 

*::selection {
    background-color: #1D2126;
    color: #fff;
}

a:link {
    text-decoration: none;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    word-spacing: 3px;
    line-height: 42px;
    font-weight: normal;
}

h2.has-block-first {
    position: relative;
    padding-left: 25px;
}

h2.has-block-first::before {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    position: absolute;
    top: 4px;
    left: 0;
}

p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
    color: #8d8f92;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}


/* header */

header {
    height: 81px;
    background-color: #1d2126;
    line-height: 81px;
    /*-----*/
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    /*-----*/
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container ul li {
    display: inline-block;
}

header .container ul li a {
    display: inline-block;
    height: 30px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #a4aead;
    border: 2px solid transparent;
    margin-left: 16px;
    font-size: 14px;
}

header .container ul li a:hover {
    border-color: #5b6168;
    color: #23b7a4;
    background-color: #fff;
}

header .container ul li a.active {
    border-color: #23b7a4;
    color: #23b7a4;
    background-color: #fff;
}

#hero {
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    /*-----*/
    padding-top: 81px;
    /*-----*/
    background-color: #3a454d;
}

#hero .container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

#hero .container > div {
    width: 654px;
}

#hero .container h2 {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-weight: normal;
}

#hero .container  p {
    color: #ccd0d7;
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
    margin-bottom: 36px;
}

#hero .container div a {
    background-color: #deb4b4;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    height: 44px;
    line-height: 40px;
    border: 2px solid #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
    margin-right: 11px;
    border-radius: 3px;
}

#hero .container div a:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}


#hero .container ul {
    position: absolute;
    right: 0px;
    bottom: 30px;
}

#hero .container ul li {
    display: inline-block;
}

#hero .container ul a {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
    text-indent: -1000000000px;
    width: 13px;
    height: 13px;
    margin-right: 9px;
}

#hero .container ul li:last-child a {
    margin-right: 0px;
}

#hero .container ul a.active {
    background-color: #fff;
}

/* about */
#about {
    height: 610px;
    border-bottom: 1px solid #dde1e4;
}

#about .container > div {
    display: flex;
    justify-content: space-between;
}

#about .container > div > div:first-child {
    width: 654px;
}

#about .container > div > div:last-child {
    width: 457px;
}

#about .container {
    padding-top: 85px;
}

#about .container h2 {
    color: #292f36;
    margin-bottom: 56px;
}

#about .container > div > div > p:first-child {
    margin-bottom: 27px;
}

#about .container div > ul {
    margin-top: 55px;
}

#about .container div > ul li {
    display: inline-block;
}

#about .container ul li a {
    display: inline-block;
    text-indent: -1000000px;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    background-repeat: no-repeat;
    background-position: center;
}

#about .container ul li a:hover {
    background-color: #d0d5d9;
}

#about .container ul li:nth-child(1) a {
    background-image: url(./images/socials/facebook.png);
}

#about .container ul li:nth-child(2) a {
    background-image: url(./images/socials/twitter.png);
}

#about .container ul li:nth-child(3) a {
    background-image: url(./images/socials/google.png);
}

#about .container ul li:nth-child(4) a {
    background-image: url(./images/socials/dribble.png);
}

#about .container ul li:nth-child(5) a {
    background-image: url(./images/socials/facebook.png);
}

#about ol {
    counter-reset: about;
}

#about ol li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 35px;
}

#about ol li::before {
    counter-increment: about;
    content: counters(about, '.', decimal-leading-zero);
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    word-spacing: 3px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

#about ol li h3 {
    text-transform: uppercase;
    font-size: 18px;
    word-spacing: 3px;
    color: #292f36;
    font-weight: normal;
    margin-bottom: 3px;
}

/* work */
#team {
    padding-top: 82px;
    padding-bottom: 100px;
}

#team h2 {
    margin-bottom: 61px;
}

#team-list {
    display: flex;
    justify-content: space-between;
}


#team-list img {
    display: block;
}

#team-list .info {
    background-color: #e1e6ea;
    padding: 21px 20px;
}

#team-list .info h4 {
    font-size: 16px;
    font-weight: normal;
    color: #292f36;
    text-transform: uppercase;
}

#team-list .info p {
    font-size: 14px;
    color: #8d8f92;
    font-weight: normal;
}

#team-list  div:hover .info {
    background-color: #3a454d;
}

#team-list  div:hover h4 {
    color: #fff;
}

#team-list  div:hover p {
    color: #fff;
}

#team-list  div  div {
    position: relative;
}

#team-list .mask {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#team-list .mask ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#team-list .mask li:not(#team-list .mask li:last-child) {
    display: inline-block;
    margin-right: 1px;
}


#team-list .mask li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    text-indent: -100000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 18px;
}

#team-list .mask li:nth-child(1) a {
    background-image: url(./images/socials/twitter.png);
}

#team-list .mask li:nth-child(2) a {
    background-image: url(./images/socials/facebook.png);
}

#team-list .mask li:nth-child(3) a {
    background-image: url(./images/socials/linkin.png);
}

#team-list .mask li a:hover {
    background-color: #4e5a62;
}

#team-list div:hover .mask {
    display: block;
}

/*work*/
#work {
    background-color: #3a454d;
    padding: 80px 0 60px 0;
}

#work h2:before {
    background-color: #4e5a62;
}

#work h2 {
    color: #fff;
    margin-bottom: 60px;
}

#work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work-list div {
    width: calc( (100% - 60px) / 3 );
    position: relative;
}

#work-list div:nth-child(n+4) {
    margin-top: 30px;
}

#work-list .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-image: url(./images/plus.png);
    background-repeat: no-repeat;
    background-position: center top 93px;
    background-color: #292f36;
    opacity: 0.5;
}

#work-list .mask h4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    line-height: 60px;
    background-color: #292f36;
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: normal;
}

#work-list > div:hover .mask {
    display: block;
}

#action {
    text-align: center;
    margin-top: 60px;
}

#action button {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    height: 44px;
    line-height: 40px;
    border: 2px solid #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
    margin-right: 11px;
    border-radius: 3px;
    background-color: #deb4b4;
    
}

#action button:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}

/*what we do*/

#what-we-do {
    padding: 80px 0 76px 0;
}

#what-we-do h2 {
    margin-bottom: 90px;
}

#what-we-do ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#what-we-do ul li {
    width: calc( (100% - 90px) / 4 );
    text-align: center;
}

#what-we-do ul li::before {
    content: ' ';
    height: 48px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 48px;
}

#what-we-do ul li:nth-child(1)::before {
    background-image: url(./images/service/1.jpg);
}

#what-we-do ul li:nth-child(2)::before {
    background-image: url(./images/service/2.jpg);
}

#what-we-do ul li:nth-child(3)::before {
    background-image: url(./images/service/3.jpg);
}

#what-we-do ul li:nth-child(4)::before {
    background-image: url(./images/service/clock.jpg);
}

#what-we-do ul li:nth-child(5)::before {
    background-image: url(./images/service/1.jpg);
}

#what-we-do ul li:nth-child(6)::before {
    background-image: url(./images/service/2.jpg);
}

#what-we-do ul li:nth-child(7)::before {
    background-image: url(./images/service/3.jpg);
}

#what-we-do ul li:nth-child(8)::before {
    background-image: url(./images/service/clock.jpg);
}

#what-we-do ul li h4 {
    color: #292f36;
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 25px;
}

#what-we-do ul li p {
    color: #8d8f92;
}

#what-we-do ul li {
    margin-bottom: 89px;
}

/* feature */

#feature {
    background-color: #3a454d;
    padding: 85px 0px 115px 0px;
}

#feature h2 {
    color: #fff;
    margin-bottom: 60px;
}

#feature h2::before {
    background-color: #4e5a62;
}

#feature-list {
    display: flex;
    justify-content: space-between;
}

#feature-list div {
    max-width: 360px;
}

#feature-list div img:hover {
    opacity: .8;
}

#feature-list div h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    margin-top: 18px;
    font-weight: normal;
    margin-bottom: 14px;
}

#feature-list div p {
    color: #dcdfe1;
}

/*contact*/
#contact {
    padding: 64px 0 75px 0;
}

#contact h2 {
    color: #292f36;
    margin-bottom: 60px;
}

#map {
    background-image: url(./images/map.png);
    width: 100%;
    height: 345px;
}

#contact-info {
    display: flex;
    margin-top: -129px;
    justify-content: space-between;
}

#contact-info > div, #contact-info > form {
    width: calc( (100% - 30px) / 2 );
}

#contact-info > div {
    padding-top: 186px;
}

#contact-info > div h4 {
    font-size: 20px;
    line-height: 26px;
    color: #292f36;
    margin-bottom: 32px;
    text-transform: uppercase;
}

#contact-info > div p {
    color: #8d8f92;
    margin-bottom: 25px;
}

#contact-info > form {
    background-color: #fff;
    padding: 30px;
}

#contact-info > form label {
    display: block;
    font-size: 14px;
    color: #8d8f92;
    padding-left: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#contact-info > form .line-first {
    display: flex;
    justify-content: space-between;
}

#contact-info > form .line-first,  
#contact-info > form .line-second {
    margin-bottom: 30px;
}

#contact-info > form .line-first > div {
    width: calc( (100% - 15px) /2 );
}

#contact-info form input, 
#contact-info form textarea {
    display: block;
    width: 100%;
    padding: 9.6px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #eaeef1;
}

#contact-info form textarea {
    max-height: 160px;
}

#contact-info .line-third button {
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    background-color: #23b7a4;
    border: none;
    padding: 0 13px;
}

#contact-info .line-third button:hover {
    opacity: 0.6;
}

footer {
    background-color: #3a454d;
    height: 95px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer p {
    color: #fff;
    font-size: 14px;
}

footer ul {
    display: flex;
}

footer ul li {
    display: inline-block;
    margin-right: 18px;
}

footer ul li a {
    display: block;
    text-indent: -10000px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 18px;

}

footer ul li:nth-child(1) a {
    background-image: url(./images/socials/twitter.png);
}

footer ul li:nth-child(2) a {
    background-image: url(./images/socials/facebook.png);
}

footer ul li:nth-child(3) a {
    background-image: url(./images/socials/skype.png);
}

footer ul li:nth-child(4) a {
    background-image: url(./images/socials/be.png);
}

footer ul li:nth-child(5) a {
    background-image: url(./images/socials/linkin.png);
}